body {
  background-color: #0a0a23;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
  overflow: scroll;
  max-height: 250px;
}

#game {
  min-width: 420px;
  max-width: 500px;
  max-height: 500px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #0a0a23;
}

#stats,
#balance {
  /*    float: left;*/
  border: 1px solid #0a0a23;
  padding: 5px 0 5px 5px;
  color: #0a0a23;
}

#balance {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.balance {
  width: fit-content;
  padding-right: 10px;
}

.party {
  border: 1.5px solid #0a0a23;
  border-right: 0;
  color: #0a0a23;
  background-color: #ffffff;
  width: 73.9%;
  box-sizing: border-box;
  margin: -6.5px 0;
  justify-content: center;
}

.hero {
  display: inline-flex;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}

#contenido {
  float: left;
  width: 50%; /* Ajusta el ancho según sea necesario */
}

#lista {
  float: right;
  width: 25%; /* Ajusta el ancho según sea necesario */
}

.hero {
  justify-content: space-between;
}
